.idea
.vscode
.DS_Store
.env

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.exe
*.zip
*.rar
*.7z
*.tar
*.gz
*.bz2

views/comics/*
!views/comics/.gitignore
views/images/*
!views/images/.gitignore

